@if (Request.IsAuthenticated) 
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
            <ul>
                <li style="float:right">
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
                <li style="float:right">
                    @Html.ActionLink(User.Identity.Name,"Manage","Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
                </li>
            </ul>
        }
} 
else {
    <ul>
        <li style="float:right">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li style="float:right">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
