@{
    ViewBag.Title = "About";
}
<style>
body 
{
	background-color:white;	
}
</style>
<div>
  <div>
    <div>
      <!-- ####################################################################################################### -->
      <section>
        <h1 style="text-align:center;color:black">About Us</h1>
        <p style="text-align:center;font-size:large;color:red"><b>:: <b style="color:green">Kora Today</b> is an Egyptian Site for Local and International Football News ::</b></p>
      </section>
      <!-- ####################################################################################################### -->
      <section style="text-align:center">
        <h2 style="text-align:center;color:black">Our Team</h2> 
            <figure><img src="~/Images/Vector.png" style="width:20%;">
              <figcaption>
                <p style="color:red"><b style="color:black">Name:</b> Ahmed Elemam</p>
                <p style="color:red"><b style="color:black">Job Title:</b> Software Developer</p>
                <p style="color:red"><b style="color:black">Email:</b> ahmed.elemam.6295@gmail.com</p>
                <p style="color:red"><b style="color:black">Phone:</b> 01124111216</p>

              </figcaption>
            </figure>
        </section>
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>